$--upload-list-item-base-height: 92px;
$--base-animation-date: 0.2s;

@mixin shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity $--base-animation-date;

    i.g-icon {
        font-size: 30px;
        color: #fff;
        margin-right: 10px;
        cursor: pointer;
        transition: color $--base-animation-date;

        &:last-of-type {
            margin-right: 0;
        }

        &:hover {
            color: #399ffb;
        }
    }
}

.g-upload {

    // 触发上传
    :deep(.el-upload) {

        /* picture-card */
        &.el-upload--picture-card {
            .upload-btn {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .avatar-upload,
        .picture-card {
            i {
                margin-top: 0;
            }
        }



        /* 头像 */
        .avatar-upload {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: calc(100% - 2px);
                height: calc(100% - 2px);
                border-radius: 6px;
                transform: translate(-50%, -50%);
            }

            .operation {
                @include shade;
            }

            &:hover {
                .operation {
                    opacity: 1;
                }
            }
        }
    }

    // 文件列表
    :deep(.el-upload-list) {

        /* picture */
        &.el-upload-list--picture {
            .el-upload-list__item {
                padding: 0;

                .file-list-item {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 0 30px 0 10px;
                    justify-content: space-between;
                    position: relative;

                    .info,
                    .btns {
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }

                    .info {
                        img.preview {
                            width: 70px;
                            height: 70px;
                            margin-right: 20px;
                        }

                        span.file-name {
                            font-size: 18px;
                        }
                    }

                    .btns {
                        i {
                            opacity: 0;
                            font-size: 26px;
                            margin-right: 18px;
                            cursor: pointer;
                            transition: opacity $--base-animation-date, color $--base-animation-date;
                            width: 0;
                            overflow: hidden;

                            &:hover {
                                color: #399ffb;
                            }
                        }
                    }

                    &:hover {
                        .btns {
                            i {
                                width: auto;
                                opacity: 1;
                            }
                        }
                    }

                    .status-label {
                        position: absolute;
                        right: -15px;
                        top: -6px;
                        width: 40px;
                        height: 24px;
                        background: #13ce66;
                        text-align: center;
                        transform: rotate(45deg);
                        box-shadow: 0 0 1pc 1px rgba(0, 0, 0, 0.2);
                        color: #fff;

                        i {
                            font-size: 12px;
                            margin-top: 11px;
                            transform: rotate(-45deg);
                        }
                    }

                    .el-progress {
                        position: absolute;
                        top: initial;
                        bottom: 1px;
                        left: 0;
                    }
                }
            }
        }

        /* picture-card */
        &.el-upload-list--picture-card {
            .el-upload-list__item {
                .file-list-item {
                    width: 100%;
                    height: 100%;
                    padding: 1px;
                    border-radius: 8px;
                    overflow: hidden;

                    .info {
                        width: 100%;
                        height: 100%;
                        position: relative;

                        .preview {
                            width: 100%;
                            height: 100%;
                        }

                        .file-name {
                            position: absolute;
                            color: #fff;
                            width: 100%;
                            left: 0;
                            bottom: 5px;
                            text-align: center;
                            background-color: rgba(0, 0, 0, 0.3);
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            padding: 0 6px;
                        }
                    }

                    .btns {
                        @include shade;
                    }

                    .status-label {
                        position: absolute;
                        right: -15px;
                        top: -6px;
                        width: 40px;
                        height: 24px;
                        background: #13ce66;
                        text-align: center;
                        transform: rotate(45deg);
                        box-shadow: 0 0 1pc 1px rgba(0, 0, 0, 0.2);
                        color: #fff;

                        i {
                            font-size: 12px;
                            margin-top: 11px;
                            transform: rotate(-45deg);
                        }
                    }

                    .el-progress.el-progress--circle {
                        .el-progress-circle {
                            color: transparent;
                        }
                    }
                }



                &:hover {
                    .file-list-item {
                        .btns {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }


    // 禁用
    &.is-disabled {
        :deep(.el-upload--picture-card) {
            cursor: no-drop;
            border: 1px dashed #c0ccda !important;
        }
    }
}