:root {
    --jn-ve-g-base-border-color: #e8e8e8;
    --jn-ve-g-base-animation-date: 0.2s;

    --jn-ve-g-base-font-size: 18px;
    --jn-ve-g-base-font-size-m: 16px;
    --jn-ve-g-base-font-size-s: 14px;

    // 按钮：高度
    --jn-ve-g-btn-b-height: 40px;
    --jn-ve-g-btn-m-height: 38px;
    --jn-ve-g-btn-s-height: 32px;
    --jn-ve-g-btn-ss-height: 28px;
    --jn-ve-g-btn-height: var(--jn-ve-g-btn-m-height);
    // 按钮：内左右间距
    --jn-ve-g-btn-padding-lr: 20px;
    --jn-ve-g-btn-padding-lr2: 22px;
    --jn-ve-g-btn-padding-lr3: 15px;

    // 上传控件
    --jn-ve-g-upload-size: 148px;
    --jn-ve-g-upload-radius: 6px;

    // 弹框
    --jn-ve-g-popup-header-bg: linear-gradient(180deg, #E5F2FF 0%, #F8FEFF 99%);
}