:root {
    --el-text-color-regular: var(--jn-ve-g-form-color);
}

.el-button {
    height: var(--jn-ve-g-btn-height) !important;
    padding: 0 var(--jn-ve-g-btn-padding-lr) !important;
    font-size: var(--jn-ve-g-base-font-size-s) !important;

    &:not(.is-text, .is-disabled, .el-button--text) {
        &:focus {
            background-color: var(--el-button-bg-color);
            border: var(--el-border);
            border-color: var(--el-button-border-color);
            color: var(--el-button-text-color);
        }

        &:active {
            background-color: var(--el-button-bg-color);
            border: var(--el-border);
            border-color: var(--el-button-border-color);
            color: var(--el-button-text-color);
            transform: scale(0.96);
        }

        &:hover {
            color: var(--el-button-hover-text-color);
            border-color: var(--el-button-hover-border-color);
            background-color: var(--el-button-hover-bg-color);
        }
    }
}


// 覆盖 el-message-box 样式
.el-message-box {
    --jn-ve-g-btn-height: var(--jn-ve-g-btn-s-height);

    .el-message-box__header {
        background-image: var(--jn-ve-g-popup-header-bg) !important;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .el-message-box__btns {
        justify-content: center;
    }
}

// 覆盖自定义 icon 的自定义颜色
.svg-icon-custom-color {
    path {
        fill: currentColor;
    }
}

// TinyMce 富文本编辑器
.tox-tinymce-aux {
    z-index: 13001 !important;
}

.mce-content-body.mce-edit-focus {
    outline: #409eff auto 1px !important;
}

.tox-tinymce-inline {
    z-index: 13000;
}