:root {
    --el-text-color-regular: var(--jn-ve-g-form-color);
}

// 覆盖 el-message-box 样式
.el-message-box {
    --jn-ve-g-btn-height: var(--jn-ve-g-btn-s-height);

    .el-message-box__header {
        background-image: var(--jn-ve-g-popup-header-bg) !important;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .el-message-box__btns {
        justify-content: center;
    }
}

// 覆盖自定义 icon 的自定义颜色
.svg-icon-custom-color {
    path {
        fill: currentColor;
    }
}

// TinyMce 富文本编辑器
.tox-tinymce-aux {
    z-index: 13001 !important;
}

.mce-content-body.mce-edit-focus {
    outline: #409eff auto 1px !important;
}

.tox-tinymce-inline {
    z-index: 13000;
}

.el-message {
    z-index: 130002 !important;
}