:root {
    --jn-ve-g-form-color: #606266;
    --jn-ve-g-form-disabled-color: #595959;
    --jn-ve-g-form-font-size: var(--jn-ve-g-base-font-size-m);
    --jn-ve-input-placeholder-font-size: 15px;
    --jn-ve-input-placeholder-font-align: left;
    --jn-ve-g-form-item-height: 38px;
    --jn-ve-g-form-item-line-height: 1;
    --jn-ve-g-form-item-margin-b: 18px;


    // 覆盖 element 的变量
    --el-component-size: var(--jn-ve-g-form-item-height);
    --el-checkbox-font-size: var(--jn-ve-g-form-font-size);
}

.el-form-item {
    margin-bottom: var(--jn-ve-g-form-item-margin-b);

    .el-form-item__label {
        font-size: var(--jn-ve-g-form-font-size);
        height: var(--el-component-size);
        line-height: var(--el-component-size);
    }

    .el-form-item__error {
        font-size: 12px;
    }
}

.el-select {
    .el-input__inner {
        min-height: var(--el-input-inner-height) !important;
        line-height: var(--el-input-inner-height);
    }
}

.el-radio,
.el-radio-button__inner,
.el-checkbox,
.el-checkbox-button__inner,
.el-slider,
.el-rate {
    font-size: var(--jn-ve-g-form-font-size);
    height: var(--el-component-size);
}

.el-checkbox__label,
.el-radio__label {
    font-size: inherit !important;
    height: var(--el-component-size);
    display: inline-flex;
    align-items: center;
}

.el-checkbox,
.el-radio {
    margin-right: 24px;
}

.el-radio-button__inner,
.el-checkbox-button__inner {
    padding: 0 14px;
    display: inline-flex;
    align-items: center;
}

.el-color-dropdown {
    .el-color-dropdown__btns {
        --jn-ve-g-btn-height: 24px;
    }
}

.el-color-picker {
    .el-color-picker__trigger {
        height: var(--el-component-size);
        width: var(--el-component-size);
    }
}

// // 虚拟下拉框
// .g-info-select-all {
//     .el-select-v2__combobox-input {
//         line-height: calc(var(--jn-ve-g-form-item-height) - 8px) !important;
//         height: calc(var(--jn-ve-g-form-item-height) - 8px) !important;
//     }
// }

// // 时间选择框内部 input
// .el-picker-panel {
//     --jn-ve-g-form-item-height: 32px;
//     --jn-ve-g-btn-height: var(--jn-ve-g-btn-ss-height);
// }


// /* 2.2.0 样式修复覆盖 */

// .el-range-editor.el-input__inner {
//     --jn-ve-g-form-item-height: 38px;
// }

input::placeholder {
    text-align: var(--jn-ve-input-placeholder-font-align) !important;
}

.el-date-editor--daterange {
    --jn-ve-input-placeholder-font-align: center;

    .el-range-separator {
        color: var(--el-text-color-regular);
    }
}

// .el-tree-node__content {
//     .el-checkbox {
//         margin-right: 8px;
//     }
// }