:root {
    --jn-ve-g-form-font-size: var(--jn-ve-g-base-font-size-m);
    --jn-ve-g-form-item-height: 36px;
    --jn-ve-g-form-item-line-height: 1;
    --jn-ve-g-form-item-margin-b: 18px;
    --jn-ve-g-form-disabled-color: #595959;
}


// 表单控件最小高度，取变量，部分场景下会本地覆盖
.el-input__inner,
.el-checkbox,
.el-switch,
.el-switch__label,
.el-radio,
.el-input-group__prepend,
.el-input-group__append {
    min-height: var(--jn-ve-g-form-item-height) !important;
    line-height: var(--jn-ve-g-form-item-line-height) !important;
}

// switch & checkbo & radio 的 label
.el-switch__label,
.el-checkbox__label,
.el-radio__label {
    line-height: var(--jn-ve-g-form-item-height) !important;
}


// 虚拟下拉框
.g-info-select-all {
    .el-select-v2__combobox-input {
        line-height: calc(var(--jn-ve-g-form-item-height) - 8px) !important;
        height: calc(var(--jn-ve-g-form-item-height) - 8px) !important;
    }
}

// 时间选择框内部 input
.el-picker-panel {
    --jn-ve-g-form-item-height: 32px;
    --jn-ve-g-btn-height: var(--jn-ve-g-btn-ss-height);
}

.el-range-editor.el-input__inner {
    --jn-ve-g-form-item-height: 38px;
}

input::placeholder {
    font-size: 15px !important;
}