:root {
    --jn-ve-g-form-color: #606266;
    --jn-ve-g-form-disabled-color: #595959;
    --jn-ve-g-form-font-size: var(--jn-ve-g-base-font-size-m);
    --jn-ve-input-placeholder-font-size: 15px;
    --jn-ve-input-placeholder-font-align: left;
    --jn-ve-g-form-item-height: 38px;
    --jn-ve-g-form-item-line-height: 1;
    --jn-ve-g-form-item-margin-b: 18px;

    --el-checkbox-font-size: var(--jn-ve-g-form-font-size);
}

/* 
    1. css 变量按值传递
    2. 同级变量互相引用后，并不是建立关联关系
    3. 子级在覆盖父级变量时，父级变量与变量之间不会产生变化
    4. 凡是涉及到变量引用的，一概遵循低引用高，这样才能在低的改变高的时候，低的引用才能生效

    基于 4 ，在相对低的层级，建立变量的引用，然后可以在低与高的中间，覆盖高层的变量，这样就能实现改变 a 继而 b 也改变了
*/
.el-input,
.el-radio,
.el-checkbox,
.el-radio-group,
.el-checkbox-group,
.el-date-editor,
.el-slider,
.el-rate,
.el-switch,
.el-color-picker,
.form-item-placeholder,
.el-select-v2 {
    --el-component-size: var(--jn-ve-g-form-item-height);
    --el-component-size-large: var(--el-component-size);
    --el-component-size-small: var(--el-component-size);
}

.el-form-item {
    margin-bottom: var(--jn-ve-g-form-item-margin-b);

    .el-form-item__label {
        font-size: var(--jn-ve-g-form-font-size);
        height: var(--jn-ve-g-form-item-height);
        line-height: var(--jn-ve-g-form-item-height);
    }

    .el-form-item__error {
        font-size: 12px;
    }
}

.el-select {
    .el-input__inner {
        min-height: var(--el-input-inner-height) !important;
        line-height: var(--el-input-inner-height);
    }
}

.el-radio,
.el-radio-button__inner,
.el-checkbox,
.el-checkbox-button__inner,
.el-slider,
.el-rate {
    font-size: var(--jn-ve-g-form-font-size);
    height: var(--el-component-size);
}

.el-checkbox__label,
.el-radio__label {
    font-size: inherit !important;
    height: var(--el-component-size);
    display: inline-flex;
    align-items: center;
}

.el-checkbox,
.el-radio {
    margin-right: 24px;
}

.el-radio-button__inner,
.el-checkbox-button__inner {
    padding: 0 14px;
    display: inline-flex;
    align-items: center;
}

.el-color-dropdown {
    .el-color-dropdown__btns {
        --jn-ve-g-btn-height: 24px;
    }
}

.el-color-picker {
    .el-color-picker__trigger {
        height: var(--el-component-size);
        width: var(--el-component-size);
    }
}

input::placeholder {
    text-align: var(--jn-ve-input-placeholder-font-align) !important;
}

.el-date-editor--daterange {
    --jn-ve-input-placeholder-font-align: center;

    .el-range-separator {
        color: var(--el-text-color-regular);
    }
}

// .el-tree-node__content {
//     .el-checkbox {
//         margin-right: 8px;
//     }
// }