:root {
    --jn-ve-g-table-striped-tr-bg: #fafafa;
    --jn-ve-g-table-color: #575757;
    --jn-ve-g-table-cell-line-height: 26px;
    --jn-ve-g-table-th-padding-tb: 10px;
    --jn-ve-g-table-td-padding-tb: 5px;
    --jn-ve-g-table-cell-padding-lr: 12px;

    --jn-ve-g-table-font-size: 14px;
    --jn-ve-g-table-pagination-height: 48px;
    --jn-ve-g-table-pagination-item-height: 28px;
}