$--dialog-base-left-p: 40px;
$--dialog-base-top-p: 16px;
$--tf-base-bgc: #ecf6ff;
$--close-btn-color: #ababab;
$--close-btn-font-size: 22px;

// 顶部
@mixin titleStyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $--dialog-base-top-p 20px $--dialog-base-top-p $--dialog-base-left-p;
    background-image: var(--jn-ve-g-popup-header-bg);
    margin-right: 0;

    >span,
    .el-dialog__title {
        font-size: 24px;
        color: #333333;
        font-weight: 600;
        letter-spacing: 1px;
    }
}

// 底部
@mixin footerStyle {
    padding: 22px $--dialog-base-left-p;

    .el-button {
        --jn-ve-g-btn-height: var(--jn-ve-g-btn-b-height);
        --jn-ve-g-btn-padding-lr: 22px;
        font-size: var(--jn-ve-g-base-font-size-s);
    }
}

// dialoag 模式
.g-custom-dialog {
    border-radius: 8px !important;
    overflow: hidden;

    .el-dialog__header {
        @include titleStyle;
    }

    .el-dialog__body {
        padding: 14px $--dialog-base-left-p 14px $--dialog-base-left-p;
        min-height: 100px;
    }

    .el-dialog__footer {
        @include footerStyle;
    }

    // 关闭按钮
    .el-dialog__headerbtn {
        width: 56px;
        height: 56px;
        top: 0;

        i {
            width: 100%;
            height: 100%;
            font-size: $--close-btn-font-size !important;
            color: $--close-btn-color;
        }
    }

    &.vertical-center {
        top: 50% !important;
        transform: translateY(-50%) !important;
        margin: 0 auto !important;
    }
}

// drawer 模式
.g-custom-drawer {
    .el-drawer__header {
        @include titleStyle;
        margin-bottom: 0;

        .el-drawer__close-btn {
            position: initial;
            top: initial;
            right: initial;
            flex: none;
            display: inline-flex;
            align-items: center;

            i {
                font-size: $--close-btn-font-size !important;
                color: $--close-btn-color;
            }

            &:hover {
                i {
                    color: var(--el-color-primary);
                }
            }
        }
    }

    .el-drawer__body {
        padding: 0;
        display: flex;
        flex-direction: column;

        .drawer-content {
            padding: 14px 0 14px $--dialog-base-left-p;
            height: 100%;
            overflow: hidden;

            .drawer-content-scrollbar {
                .el-scrollbar__view {
                    padding: 0;
                    overflow: hidden;
                    padding-right: $--dialog-base-left-p;
                }
            }
        }

        .drawer-footer {
            flex: none;
            @include footerStyle;
        }
    }
}