$--dialog-base-left-p: 40px;
$--dialog-base-top-p: 16px;
$--tf-base-bgc: #ecf6ff;

// 顶部
@mixin titleStyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $--dialog-base-top-p 20px $--dialog-base-top-p $--dialog-base-left-p;
    background-color: $--tf-base-bgc;
    margin-right: 0;

    >span,
    .el-dialog__title {
        font-size: 24px;
        color: #333333;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .el-drawer__close-btn,
    .el-dialog__headerbtn {
        position: initial;
        top: initial;
        right: initial;
        flex: none;
        display: inline-flex;
        align-items: center;

        i {
            font-size: 22px !important;
            color: #ababab;
        }
    }
}

@mixin btnStyle {
    height: var(--jn-ve-g-btn-b-height) !important;
    font-size: var(--jn-ve-g-base-font-size-s);
    padding: 0 20px;
}

// 底部
@mixin footerStyle {
    padding: 22px $--dialog-base-left-p;

    .el-button {
        @include btnStyle;
    }
}

// dialoag 模式
.g-custom-dialog {
    border-radius: 8px !important;
    overflow: hidden;

    .el-dialog__header {
        @include titleStyle;
    }

    .el-dialog__body {
        padding: 14px $--dialog-base-left-p 14px $--dialog-base-left-p;
        min-height: 100px;
    }

    .el-dialog__footer {
        @include footerStyle;
    }

    &.vertical-center {
        top: 50% !important;
        transform: translateY(-50%) !important;
        margin: 0 auto !important;
    }
}

// drawer 模式
.g-custom-drawer {
    .el-drawer__header {
        @include titleStyle;
        margin-bottom: 0;
    }

    .el-drawer__body {
        padding: 0;
        display: flex;
        flex-direction: column;

        .drawer-content {
            padding: 14px 0 14px $--dialog-base-left-p;
            height: 100%;
            overflow: hidden;

            .drawer-content-scrollbar {
                .el-scrollbar__view {
                    padding: 0;
                    overflow: hidden;
                    padding-right: $--dialog-base-left-p;
                }
            }
        }

        .drawer-footer {
            flex: none;
            @include footerStyle;
        }
    }
}