$--base-font-size-m: 16px;
$--base-font-color: #595959;

.g-form {
    font-size: $--base-font-size-m;

    :deep(.el-form-item) {
        &.no-colon {
            .el-form-item__label {
                &::after {
                    content: '';
                }
            }
        }

        .el-form-item__label {
            font-size: $--base-font-size-m;

            &::after {
                content: '：';
            }
        }

        .el-form-item__content {
            font-size: $--base-font-size-m;
            line-height: 1;
            display: flex;
            align-items: center;

            >div {
                width: 100%;
            }

            .el-textarea,
            .el-input {
                font-size: inherit;
            }

            .el-rate {
                height: 100%;
                display: flex;
                align-items: center;
            }

            // 时间选择框
            .el-date-editor {
                &.el-range-editor {
                    .el-range-separator {
                        width: auto;
                    }
                }
            }
        }

        // 自定义类名
        &.content-left {
            .el-form-item__content {
                justify-content: start;
            }
        }

        &.content-right {
            .el-form-item__content {
                justify-content: end; 
            }
        }

        &.content-center {
            .el-form-item__content {
                justify-content: center;
            }
        }

        &.no-margin-b {
            margin-bottom: 0;
        }

        &.search-btn-item {
            .el-form-item__content {
                .el-button {
                    padding: 0 22px;
                    // display: inline-flex;
                    // align-items: center;

                    span {
                        font-size: 16px;
                        margin-left: 8px;
                    }

                    i {
                        font-size: 18px;
                    }
                }
            }
        }

        // 禁用
        .is-disabled {

            // color: red;
            input,
            .el-textarea__inner {
                color: $--base-font-color;
            }

            .el-radio__inner {
                border: 1px solid $--base-font-color;

                &:after {
                    background-color: $--base-font-color;
                    border-color: $--base-font-color;
                }
            }
        }

        .el-select {
            .el-tag.el-tag--info {
                color: #606266;
            }
        }
    }
}