:root {
    --c-brand: #3eaf7c;
    --c-brand-light: #4abf8a;
    --c-bg: #ffffff;
    --c-bg-light: #f3f4f5;
    --c-bg-lighter: #eeeeee;
    --c-bg-navbar: var(--c-bg);
    --c-bg-sidebar: var(--c-bg);
    --c-bg-arrow: #cccccc;
    --c-text: #2c3e50;
    --c-text-accent: var(--c-brand);
    --c-text-light: #3a5169;
    --c-text-lighter: #4e6e8e;
    --c-text-lightest: #6a8bad;
    --c-text-quote: #999999;
    --c-border: #eaecef;
    --c-border-dark: #dfe2e5;
    --c-tip: #42b983;
    --c-tip-bg: var(--c-bg-light);
    --c-tip-title: var(--c-text);
    --c-tip-text: var(--c-text);
    --c-tip-text-accent: var(--c-text-accent);
    --c-warning: #e7c000;
    --c-warning-bg: #fffae3;
    --c-warning-title: #ad9000;
    --c-warning-text: #746000;
    --c-warning-text-accent: var(--c-text);
    --c-danger: #cc0000;
    --c-danger-bg: #ffe0e0;
    --c-danger-title: #990000;
    --c-danger-text: #660000;
    --c-danger-text-accent: var(--c-text);
    --c-details-bg: #eeeeee;
    --c-badge-tip: var(--c-tip);
    --c-badge-warning: var(--c-warning);
    --c-badge-danger: var(--c-danger);
    --t-color: 0.3s ease;
    --t-transform: 0.3s ease;
    --code-bg-color: #282c34;
    --code-hl-bg-color: rgba(0, 0, 0, 0.66);
    --code-ln-color: #9e9e9e;
    --code-ln-wrapper-width: 3.5rem;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-code: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    --navbar-height: 3.6rem;
    --navbar-padding-v: 0.7rem;
    --navbar-padding-h: 1.5rem;
    --sidebar-width: 20rem;
    --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
    --content-width: 1000px;
    --homepage-width: 960px;
}

main.page {
    .theme-default-content {
        >table {
            width: 100%;
            display: table;

            th,
            td {
                border: none;
                text-align: left;

                &:first-of-type {
                    width: 130px;
                }

                &:nth-of-type(2) {
                    width: 350px;
                }

                &:nth-of-type(3) {
                    width: 250px;
                }

                &:nth-of-type(4) {
                    width: 100px;
                }
            }

            thead {
                tr {
                    border-top: none;
                }
            }
        }
    }
}