@mixin middle-area {
    padding: 0 var(--jn-ve-g-base-module-padding-lr);
    margin-bottom: 10px;
    flex: none;
    display: flex;
    justify-content: space-between;

    /* 左 */
    .middle-left-wrapper {
        width: 60%;

        .btns-wrapper {
            .el-button {
                --jn-ve-g-btn-height: var(--jn-ve-g-btn-s-height);
                --jn-ve-g-btn-padding-lr: var(--jn-ve-g-btn-padding-lr2);
            }
        }
    }

    /* 右 */
    .middle-right-wrapper {
        width: 38%;
    }
}