// 禁止选中
.not-select {
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}

// 滚动条限制
.scrollbar-astrict {
    overflow-y: auto;
    overflow-x: hidden;
}

// 版心
.container {
    width: 90%;
    margin: 0 auto;
}

// 间隙
// margin
.mb20 {
    margin-bottom: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt10 {
    margin-top: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

// padding
.pt10 {
    padding-top: 10px;
}

.pr10 {
    padding-right: 10px;
}

.pb10 {
    padding-bottom: 10px;
}

.pl10 {
    padding-left: 10px;
}

// border-radius
.bora4 {
    border-radius: 4px;
}

.bora8 {
    border-radius: 8px;
}

.bora10 {
    border-radius: 10px;
}

// flex
.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-al-c {
    display: flex;
    align-items: center;
}

.flex-jc-c {
    display: flex;
    justify-content: center;
}

// 基础模块容器
.examples-base-wrapper {
    height: calc(100% - 40px);
    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.04);
    overflow-y: auto;
}

// 业务模块 drawer form 表单容器
.business-module-drawer {
    height: 100%;

    .el-drawer__body {
        overflow: hidden;

        .form-wrapper {
            height: calc(100% - 100px);
            margin-bottom: 20px;

            .el-scrollbar__view {
                padding: 0 30px 20px 10px;
                overflow: hidden;
            }

            &.no-button {
                height: 100%;
                margin-bottom: 0;
            }
        }
    }

    .opertion-btn-wrapper {
        text-align: center;
    }
}

// dialog
.dialog-content-wrapper {
    height: 650px;
}

// 超出省略号
.overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}