// 一些基础变量
$--color-transparency: 0.8;
$--base-font-color: #595959;
$--base-font-color-black: #333333;
$--base-font-size: 18px;
$--base-font-size-m: 16px;
$--base-font-size-s: 14px;
$--base-border-color: #e8e8e8;
$--base-letter-spacing: 0.75px;
$--base-active-color: #399ffb;
$--base-border-radius: 8px;
$--base-animation-date: 0.2s;

// 菜单
$--aside-menu-item-hover-bgc: #64a8ef;
$--aside-menu-item-active-bgc: #409eff;
$--aside-base-width: 276px;
$--aside-collapse-width: 64px;

// Box-shadow
/// boxShadow|1|Shadow|1
$--box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12),
0 0 6px rgba(0, 0, 0, 0.04) !default;
// boxShadow|1|Shadow|1
$--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.12),
0 0 6px rgba(0, 0, 0, 0.12) !default;
/// boxShadow|1|Shadow|1
$--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;

/* Color
-------------------------- */
/// color|1|Brand Color|0
$--color-primary: #409eff !default;
/// color|1|Background Color|4
$--color-white: #ffffff !default;
/// color|1|Background Color|4
$--color-black: #000000 !default;
$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default;
/* 53a8ff */
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default;
/* 66b1ff */
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default;
/* 79bbff */
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default;
/* 8cc5ff */
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default;
/* a0cfff */
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default;
/* b3d8ff */
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default;
/* c6e2ff */
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default;
/* d9ecff */
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default;
/* ecf5ff */
/// color|1|Functional Color|1
$--color-success: #67c23a !default;
/// color|1|Functional Color|1
$--color-warning: #e6a23c !default;
/// color|1|Functional Color|1
$--color-danger: #f56c6c !default;
/// color|1|Functional Color|1
$--color-info: #909399 !default;

// css 原生变量
:root {
    --aside-menu-bg: red;
}