@import './item-label.scss';
@import './item-content.scss';

.g-form {
    font-size: var(--jn-ve-g-form-font-size);

    :deep(.el-form-item) {
        margin-bottom: var(--jn-ve-g-form-item-margin-b) !important;

        &.no-colon {
            .el-form-item__label {
                &::after {
                    content: '';
                }
            }
        }

        .el-form-item__error {
            font-size: 12px;
        }

        .el-form-item__label {
            @include item-label;
        }

        .el-form-item__content {
            @include item-content;
        }

        // 自定义类名
        &.content-left {
            .el-form-item__content {
                justify-content: start;
            }
        }

        &.content-right {
            .el-form-item__content {
                justify-content: end;
            }
        }

        &.content-center {
            .el-form-item__content {
                justify-content: center;
            }
        }

        &.no-margin-b {
            margin-bottom: 0;
        }

        // 禁用
        .is-disabled {

            input,
            .el-textarea__inner {
                color: var(--jn-ve-g-form-disabled-color);
            }

            .el-radio__inner {
                border: 1px solid var(--jn-ve-g-form-disabled-color);

                &:after {
                    background-color: var(--jn-ve-g-form-disabled-color);
                    border-color: var(--jn-ve-g-form-disabled-color);
                }
            }
        }

        .el-select {
            .el-tag.el-tag--info {
                color: #606266;
            }
        }
    }
}