@import './item-label.scss';
@import './item-content.scss';
@import './item-disabled.scss';

.g-form {
    --jn-ve-g-btn-height: calc(var(--jn-ve-g-form-item-height) + 2px);

    font-size: var(--jn-ve-g-form-font-size);

    :deep(.el-form-item) {
        margin-bottom: var(--jn-ve-g-form-item-margin-b);

        &.no-colon {
            .el-form-item__label {
                &::after {
                    content: '';
                }
            }
        }

        .el-form-item__error {
            font-size: 12px;
        }

        .el-form-item__label {
            @include item-label;
        }

        .el-form-item__content {
            @include item-content;
        }

        // 自定义类名
        &.content-left {
            .el-form-item__content {
                justify-content: start;
            }
        }

        &.content-right {
            .el-form-item__content {
                justify-content: end;
            }
        }

        &.content-center {
            .el-form-item__content {
                justify-content: center;
            }
        }

        &.no-margin-b {
            margin-bottom: 0;
        }

        // 显示 tooltip 的 item
        &.show-tip {
            &.tip-append {
                .el-form-item__content {
                    flex-wrap: nowrap
                }
            }

            &.tip-label {
                .el-form-item__label {
                    .item-tip {
                        margin-left: 6px;

                        i,
                        .custom-svg-icon {
                            transform: translateY(9px);
                            position: relative;
                        }
                    }
                }
            }

            .item-tip {
                margin-left: 10px;
                font-size: 22px;
                color: #767575;
            }
        }

        @include item-disabled;
    }
}