@mixin item-label {
    padding: 0;
    overflow: hidden;

    &::after {
        content: '：';
    }
}

@mixin no-colon {
    .el-form-item__label {
        padding-right: 14px;

        &::after {
            content: '';
        }
    }
}