@mixin item-label {
    font-size: var(--jn-ve-g-form-font-size);
    line-height: var(--jn-ve-g-form-item-height);
    padding: 0;
    padding-right: 4px;

    &::after {
        content: '：';
    }
}