@mixin item-label {
    font-size: var(--jn-ve-g-form-font-size);
    line-height: calc(var(--jn-ve-g-form-item-height) + 2px);
    padding: 0;
    padding-right: 4px;

    &::after {
        content: '：';
    }
}