@font-face {
  font-family: "iconfont"; /* Project id 2683065 */
  src: url('iconfont.woff2?t=1638166890255') format('woff2'),
       url('iconfont.woff?t=1638166890255') format('woff'),
       url('iconfont.ttf?t=1638166890255') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ali-icon-quanping:before {
  content: "\e8fa";
}

.ali-icon-quanping1:before {
  content: "\ec13";
}

.ali-icon-quxiaoquanping_o:before {
  content: "\eb98";
}

.ali-icon-quanping_o:before {
  content: "\eb99";
}

.ali-icon-quanping2:before {
  content: "\e62a";
}

.ali-icon-cancel-full-screen:before {
  content: "\e688";
}

.ali-icon-checkbox-minus:before {
  content: "\ea6d";
}

.ali-icon-checkbox-plus:before {
  content: "\ea6e";
}

.ali-icon-box2xiangzi:before {
  content: "\e731";
}

.ali-icon-wushuju:before {
  content: "\e642";
}

.ali-icon-dakaidexiangzi:before {
  content: "\e718";
}

.ali-icon-xiangzidakai:before {
  content: "\e610";
}

.ali-icon-zhiwu:before {
  content: "\e600";
}

.ali-icon-qiyejibenxinxi:before {
  content: "\e628";
}

.ali-icon-zhuce:before {
  content: "\e61c";
}

.ali-icon-zaixianyonhu:before {
  content: "\e675";
}

.ali-icon-bumen:before {
  content: "\e6ae";
}

.ali-icon-wode:before {
  content: "\e638";
}

.ali-icon-applications:before {
  content: "\e60a";
}

.ali-icon-jigou:before {
  content: "\e61a";
}

.ali-icon-heimingdan:before {
  content: "\e631";
}

.ali-icon-institute:before {
  content: "\e660";
}

.ali-icon-xiangzi:before {
  content: "\e646";
}

.ali-icon-shouye:before {
  content: "\e602";
}

.ali-icon-jiaose:before {
  content: "\e651";
}

.ali-icon-zhucewangzhan:before {
  content: "\e66a";
}

.ali-icon-icon-test:before {
  content: "\e613";
}

.ali-icon-home:before {
  content: "\e616";
}

.ali-icon-diqu:before {
  content: "\e606";
}

.ali-icon-zhiwei:before {
  content: "\e607";
}

.ali-icon-jiaose1:before {
  content: "\e830";
}

.ali-icon-jiaoseguanli:before {
  content: "\e60f";
}

.ali-icon-RectangleCopy:before {
  content: "\e6bf";
}

.ali-icon-jiaoseguanli1:before {
  content: "\e665";
}

.ali-icon-jiaoseleixing:before {
  content: "\e666";
}

.ali-icon-icon_xinyong_xianxing_jijin-:before {
  content: "\e614";
}

.ali-icon-zhiwu1:before {
  content: "\e690";
}

.ali-icon-basesettingposition:before {
  content: "\e622";
}

.ali-icon-021xiangzi:before {
  content: "\e7dd";
}

.ali-icon-qudaoguanli:before {
  content: "\e605";
}

.ali-icon-shezhi:before {
  content: "\e60b";
}

.ali-icon-qiye_gongsi_danweijibenxinxi:before {
  content: "\e790";
}

.ali-icon-quanxian:before {
  content: "\e791";
}

.ali-icon-shebei:before {
  content: "\e792";
}

.ali-icon-xitongbeifen:before {
  content: "\e603";
}

.ali-icon-hangye:before {
  content: "\e617";
}

