@mixin control-style {
    width: 100%;
    position: relative;

    // 必填标识
    &.is-required {
        &::before {
            content: '*';
            color: var(--el-color-danger);
            position: absolute;
            left: -10px;
            font-size: 18px;
            top: 0;
            z-index: 2;
        }
    }

    // 校验出错
    &.is-error {
        .el-input__inner {
            transition: box-shadow 200ms;
        }

        .el-input__inner,
        .checkbox-wrapper .el-checkbox-group,
        i {
            border-color: var(--el-color-danger);
            color: var(--el-color-danger);
        }

        .el-input__wrapper,
        .checkbox-wrapper .el-checkbox-group {
            box-shadow: 0 0 0 1px var(--el-color-danger) inset !important;
        }
    }

    // 数字输入框
    .inputnumber-control-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .el-input-number {
            flex: 1;
        }

        .el-button {
            margin-left: 4px;
        }
    }

    // checkbox
    .checkbox-wrapper {
        .el-checkbox-group {
            padding: 4px;
            border-radius: 4px;
            border: 1px dashed var(--el-border-color-base);
            margin-bottom: 4px;

            .el-checkbox {
                height: 16px;
                margin-right: 12px;
            }
        }

        .checkbox-confirm-btn-wrapper {
            text-align: center;

            .el-button {
                min-height: 20px !important;
                height: 20px !important;
                padding: 4px 16px;
            }
        }
    }

    // radio
    .el-radio-group {
        display: flex;

        .el-radio {
            margin-right: 20px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    // color-picker
    .el-color-picker {
        display: block;

        .el-color-picker__trigger {
            padding: 0;
        }
    }

    // el-slider
    .el-slider {
        width: 100%;

        .el-slider__runway {
            margin: 10px 0;
            background-color: rgb(221, 220, 220);

            &.disabled {
                .el-slider__bar {
                    background-color: #6aaef3;
                }
            }
        }

        &.has-marks {
            height: 50px;
        }
    }

    // 控件的层级要高于 error-msg
    >div {
        z-index: 2;
        position: relative;

        &.g-info-select,
        &.g-info-select-all,
        &.g-info-autocomplete,
        .el-autocomplete {
            display: flex;
        }
    }
}