@mixin cell-content {
    // 覆盖表单控件的高度变量
    --jn-ve-g-form-item-height: var(--jn-ve-g-table-cell-line-height);
    
    // 按钮
    .el-button {
        &.el-button--text {
            padding: 0;
            height: auto !important;
            font-size: var(--jn-ve-g-table-font-size);
        }

        &.is-disabled,
        &.is-loading::before {
            background-color: transparent;
        }

        &.is-loading {
            opacity: 0.7;
        }
    }

    // 更多按钮 dropdown
    .el-dropdown {
        min-height: var(--jn-ve-g-table-cell-line-height);
        display: inline-flex;
        align-items: center;
    }
}