@mixin cell-content {

    // 更多按钮 dropdown
    .el-dropdown {
        min-height: var(--jn-ve-g-table-cell-line-height);
        display: inline-flex;
        align-items: center;
    }

    // elTag
    .el-tag {
        height: var(--jn-ve-g-form-item-height) !important;
        box-sizing: border-box;
        padding: 0 9px;
        font-size: 12px;
    }

    // switch
    .el-switch {
        height: calc(var(--jn-ve-g-form-item-height) - 2px) !important;
        min-height: calc(var(--jn-ve-g-form-item-height) - 2px) !important;
    }
}