@mixin cell-content {
    // 覆盖表单控件的高度变量
    --jn-ve-g-form-item-height: calc(var(--jn-ve-g-table-cell-line-height) - 2px);
    --jn-ve-g-form-item-line-height: calc(var(--jn-ve-g-table-cell-line-height) - 2px);

    // 按钮
    .el-button {
        &.el-button--text {
            height: auto !important;
            font-size: var(--jn-ve-g-table-font-size) !important;
            padding: 0 !important;
        }

        &.is-disabled,
        &.is-loading::before {
            background-color: transparent;
        }

        &.is-loading {
            opacity: 0.7;
        }
    }

    // 更多按钮 dropdown
    .el-dropdown {
        min-height: var(--jn-ve-g-table-cell-line-height);
        display: inline-flex;
        align-items: center;
    }

    // elTag
    .el-tag {
        height: var(--jn-ve-g-form-item-height) !important;
        box-sizing: border-box;
        padding: 0 9px;
        font-size: 12px;
    }

    // switch
    .el-switch {
        height: calc(var(--jn-ve-g-form-item-height) - 2px) !important;
        min-height: calc(var(--jn-ve-g-form-item-height) - 2px) !important;
    }
}