@import './cell-content.scss';
@import './pagination.scss';
@import './table-header.scss';
@import './table-body.scss';

.g-table-root {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid var(--jn-ve-g-base-border-color);
    border-bottom: none;
    border-radius: 4px 4px 0 0;

    // 无分页
    &.hide-pagination {
        .g-table-main {
            height: 100%;

            :deep(.el-table) {
                &::before {
                    display: none;
                }
            }
        }
    }

    // 无数据
    &.data-empty {
        :deep(.el-table) {

            .el-table__body-wrapper {
                .el-scrollbar__view {
                    height: 100%;
                }
            }
        }
    }

    // 表格
    .g-table-main {
        height: calc(100% - var(--jn-ve-g-table-pagination-height));

        :deep(.el-table) {
            color: var(--jn-ve-g-table-color);
            font-size: var(--jn-ve-g-table-font-size);

            .el-table__inner-wrapper {
                @include table-header;
                @include table-body;

                // 复选框
                .el-checkbox {
                    height: auto;
                }

                &::before {
                    background-color: var(--jn-ve-g-base-border-color);
                }
            }

            /* 
                左右固定的列 2.0+ 版本使用的是  position:sticky 来进行固定列的 👍🏻 🐂 
                通过 .el-table 添加下面三个类名，确定表格的横向滚动状态
            */
            // &.is-scrolling-left {}
            // &.is-scrolling-middle {}
            // &.is-scrolling-right {}

        }
    }

    // 分页
    .g-table-pagination {
        @include pagination;
    }
}